modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3333
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[workflows]
runButton = "Run DOXA"

[[workflows.workflow]]
name = "Run DOXA"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node doxa-ai-run.js"
