modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 3333
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[workflows]
runButton = "Repară DOXA"

[[workflows.workflow]]
name = "Run DOXA"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node doxa-ai-run.js"

[[workflows.workflow]]
name = "DOXA Platform"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node doxa-platform-run.js"

[[workflows.workflow]]
name = "DOXA Services"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start-doxa-services.js"

[[workflows.workflow]]
name = "DOXA Pilgrimage"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start-doxa-pilgrimage.js"

[[workflows.workflow]]
name = "Recuperare DOXA"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node recover-app.js"

[[workflows.workflow]]
name = "Repară Conexiune DB"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node fix-database.js"

[[workflows.workflow]]
name = "DOXA AI"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node doxa-ai-run.js"

[[workflows.workflow]]
name = "Verifică API și Fallback Data"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node check-api-and-fallback.js"

[[workflows.workflow]]
name = "Recuperare completă DOXA"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node recover-app.js"

[[workflows.workflow]]
name = "Recuperare DOXA 13.03.2025"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node recover-doxa-prev-version.js"

[[workflows.workflow]]
name = "Repară DOXA"
author = 40326232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node fix-doxa-services.js"
